#musicCalendar {
    max-width:700px;
    margin: 0 auto;
    .layoutContainer > div {
        &.attending {
            background-color: yellow;
        }
        & span {
            display: block;
            font-weight: bold;
            text-transform: uppercase;
            padding: 4px 0;
            &.newMusic {
                color: red;
            }
        }
    }
}
