#musicCalendar {
  max-width: 700px;
  margin: 0 auto;
  .layoutContainer {
    text-align: left;
    & > div {
      &.attending {
        background-color: brown;
      }
      & span {
        display: block;
        font-weight: bold;
        text-transform: uppercase;
        padding: 4px 0;
        &.newMusic {
          color: #999;
        }
      }
    }
  }
}
