@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-size: 1rem;
  color: #eee;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #222;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

h1.fancy-header {
  font-family: "Impact", cursive;
  font-size: 25vw;
  background-image: url(../assets/media.png);
  background-clip: text;
  color: transparent;
  margin: 0;
  -webkit-text-stroke: 2px orange;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  text-align: center;
}

.button {
  background-color: #036a8d;
  border-radius: 8px;
  padding: 7px;
  transition-duration: 0.4s;
  color: white;
  text-align: center;
  min-width: 125px;
}

.button-card {
  border: none;
  padding: 0;
  background-color: #ccc;
}

.button-card:hover {
  border: none;
  padding: 0;
  cursor: pointer;
  transform: scale(1.1);
}

.button:hover {
  background-color: #008cba;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button.active {
  background-color: crimson;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.img-fluid {
  max-width: 150px;
}

.upside-down {
  transform: rotate(180deg);
}

.text-field-wrapper label,
.text-field-wrapper input {
  font-size: 24px;
}

dialog {
  border-radius: 25px;
  box-shadow: 5px 5px 5px #aaa;
  transition: display 1s allow-discrete, overlay 1s allow-discrete;
  animation: close 1s forwards;
  &[open] {
    animation: open 1s forwards;
  }
}

dialog::backdrop {
  background-color: #000;
  opacity: 0.85;
}

dialog .close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 10px;
  background-color: #bbb;
  font-weight: 800;
}

dialog .close-button:hover {
  cursor: pointer;
}

@keyframes open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes close {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#beverages input,
#beverages-future input {
  width: 60%;
  font-size: 22px;
}
