h1 {
  font-family: "Momo Trust Display", sans-serif;
  margin: 0.4em 0;
}
h2 {
  margin: .5em 0 0;
  font-size: 1.7em;
  font-weight: 700;
  font-style: italic;
  text-shadow: 2px 2px 2px red;
}

.moviesGrid,
.moviesGridDefault {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.moviesGridDefault .movie-info {
  display: none;
}

.moviesGridDefault .banner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: cornflowerblue;
  opacity: 0.95;
  width: 85%;
  & h2 {
    margin: auto;
    padding: 25px 15px;
    font-size: 2em;
    font-weight: 900;
  }
}
