.moviesGrid,
.moviesGridDefault {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.moviesGridDefault .movie-info {
  display: none;
}

.moviesGridDefault .banner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: cornflowerblue;
  opacity: .95;
  width: 85%;
  & h2 {
    padding: 25px 0;
    font-size: 2em;
    font-weight: 900;
  }
}
