html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
#top {
  container-type: scroll-state;
  container-name: page;
}

.backToTop {
  position: fixed;
  display: flex;
  bottom: 20px;
  right: 20px;
  background-color: orange;
  translate: 150px 0;
  transition: translate 0.3s ease, background 0.2s;
  z-index: 999;
}

.wrapper {
  background-color: #000;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
  & header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
    & .background {
      position: absolute;
      height: 50%;
      width: 100%;
      object-fit: cover;
      z-index: -1;
      transform: translateZ(-10px) scale(1.9);
    }
    & .foreground {
      position: absolute;
      height: 300px;
      width: 300px;
      transform: translateZ(-5px) scale(1.5);
      border: 10px solid #000;
      left: 0;
      border-radius: 90px;
    }
    &#art .foreground,
    &#alice .foreground,
    &#norris .foreground,
    &#nightking .foreground,
    &#mother .foreground,
    &#freddy .foreground,
    &#eddie .foreground,
    &#horseman .foreground {
      right: 0;
      left: auto;
    }

    & .title {
      font-size: 4rem;
      color: #fff;
      text-shadow: 0 0 5px #000;
    }
  }
  & section {
    font-size: 1.5rem;
    padding: 1rem;
    background-color: #111;
    color: #fff;
    min-height: 250px;
    & p {
      max-width: 90%;
      margin: 25px auto;
    }
  }
}

nav:has(+ container > .halloweenWrapper) {
  display: none;
}

.halloweenWrapper nav {
  margin: 0 auto;
  & ul {
    display: unset;
  }
  & li {
    display: inline-block;
    margin: 5px 0 0;
    & a {
      color: orange;
      text-shadow: 2px 1px 1px #000;
      border: 1px solid orange;
      border-width: 1px 0;
      margin: 3px 5px 0;
      padding: 2px 5px;
      font-size: 14px;
      text-align: center;
      background: none !important;
      font-weight: bold;
      &:hover {
        border-color: red;
        cursor: pointer;
      }
      & img {
        max-height: 25px;
      }
    }
  }
}

@media (max-width: 666px) {
  .halloweenWrapper nav {
    & .site-title {
      font-size: 2.2em;
    }
    & .menu {
      height: 1.9em;
    }
    & .menu span {
      height: 0.3rem;
      color: #fff;
    }
    & ul {
      display: none;
      &.open {
        display: flex;
      }
      & li {
        margin: 0 5px;
        width: auto;
        & a {
          margin: 0;
          padding: 0;
          border: none;
        }
      }
    }
  }
  .halloweenWrapper header .title {
    font-size: 3em;
  }
}
